*{
    margin:0 ;
    padding:0 ;
}
.cabecalho {
    background-color: #2d2938;
    color: rgb(255, 255, 255);
    display:flex;
    justify-content:space-between;
    border-right: #000000;
}
.cabecalho-lista{
    padding:0 1px ;
}
.logo{
    width: 6%;
    margin:5px 10px;
}
.cabecalho-imagem{
 width: 21%;
 align-items: center;
} 

.cabecalho-1{
    display: inline-block;
    margin: 10px 10px;
    padding: 20px 0;;
    font-size: 25px;
}
.cabecalho-2 {
    display: inline-block;
    margin: 0 40px;
    padding: 0px 0;
    font-size: 25px;
}
.imagem-tecnico {
    width: 27% ;
}
.info-elite{
    background-image:linear-gradient(#6e5da0,#2f56d8	);
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
}
.info-div-conteudo {
    width: 35%;
}
.titulo-da-info-elite {
    padding: 24px 0;
    font-size:45px;
}
body{
    background-color:#2054a3 ;
    font-family: 'Roboto Mono', monospace;
}
.trabalhe-conosco {
    background-image:linear-gradient(#375cd8,#2054a3);
color: rgb(0, 0, 0);
text-align: center;
}
.texto-manutencao-um {
    
    margin: 0 px;
    padding: 30px 0;
    font-size: 23px;
    color: wheat;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid 40%;
    
}
.texto-manutencao-dois{
    display: inline-block;
    margin: 0 24px;
    padding: 30px 0;
    font-size: 23px;
    color: wheat;
    justify-content: center;
    text-align: center;
}
.texto-manutencao-tres {
    display: inline-block;
    margin: 0 24px;
    padding: 30px 0;
    font-size: 23px;
    color: wheat;
    justify-content: center;
    text-align: center;
}
.texto-manutencao-quatro{
    display: inline-block;
    margin: 0 24px;
    padding: 30px 0;
    font-size: 23px;
    color: wheat;
    justify-content: center;
    text-align: center;
}
.texto-manutencao-cinco {
    display: inline-block;
    margin: 0 24px;
    padding: 30px 0;
    font-size: 23px;
    color: wheat;
    justify-content: center;
    text-align: center;
    
}
.primeira-div-dica{
    margin: 15px;
    font-size: 20px;
    padding 24px;
    padding:  0 24p;
    margin: 10 10px;
    text-align: center;
}
.segunda-giv-dica {
    margin: 15px;
    font-size: 20px;
    padding 24px;
    padding:  0 24p;
    margin: 10 10px;
    text-align: center;
}
.terceira-giv-dica{
    margin:15px;
    font-size: 20px;
    padding: 24px;
    padding:  0 24p;
    text-align: center;
    margin: 10 10px; 
}
.quarta-giv-dica{
    margin:15px;
    font-size: 20px; 
    text-align: center;
    margin: 10 10px;
}
.quinta-giv-dica{
    margin:15px;
    font-size: 20px;
    padding: 24px;
    padding:  0 24p; 
    text-align: center;
    margin: 10 10px;
}
.dicas-titulo {
    color:wheat;
    background-image:linear-gradient(#2f56d8, #6e5da0	);
    display: flex;
    justify-content: center;
    padding: 40px;
    align-items: center;
}
.trabalhe-conosco {
 justify-content: space-around;  
  
}
.image-um {
    width: 70%;
    text-align: center;
   
}
.primeira-div-dica{
    background-image:linear-gradient(#2d2938,#1f2d52	);
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;

}
.image-dois{
    width: 59%;
}
.segunda-giv-dica{
    background-image:linear-gradient(#2d2938,#1f2d52);
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.image-tres{
width: 60%;
}
.terceira-giv-dica{
    background-image:linear-gradient(#2d2938,#1f2d52	);
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.image-quatro{
    width:auto
}
.quarta-giv-dica{
    background-image:linear-gradient(#2d2938,#1f2d52	);
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    text-align: center;
}
.image-cinco{
    width: 60%;
}
.quinta-giv-dica{
    background-image:linear-gradient(#2d2938,#1f2d52	);
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;  
    text-align: center;
}
.primeira-div-dica{
    text-align: center;
}
.rodape{
 background-color: black;   
 text-align: center;
}
.rodape{
justify-content: center;
}
.rodape-image{
    height: 100px;
    padding: 0px 0;
}
.trabalhe-conosco{
   justify-content: center;
   text-align: center;
}
.image-um {
width: 31%;
}
.image-dois {
    width: 31%;
}
.image-tres{
    width: 31%;
}
.image-quatro{
    width: 31%;
}
.image-cinco{
    width: 31%;
}
.titulo-da-info-elite{
    color: #000000;
}
.texto-um-info{
    font-size: 23px;
  padding: 5px;  
}
.texxto-dois-info{
    font-size: 23px;
  padding: 5px;  
}